@attribute [Route(ClientRoutes.Deploy)]
@attribute [Authorize(Roles = RoleNames.AgentInstaller)]

<PageTitle>Deploy</PageTitle>

<PrimaryTitle>
  Deploy Agent
</PrimaryTitle>

@if (_installerKey is null)
{
  <MudText Typo="Typo.subtitle1" GutterBottom>
    You must first generate an installer access key.
  </MudText>

  <MudGrid Class="mt-2">
    <MudItem xs="12" sm="6">

      <MudText Color="Color.Info">
        Key Type
      </MudText>
      <MudRadioGroup T="@InstallerKeyType" @bind-Value="@_installerKeyType">
        <MudRadio Value="@InstallerKeyType.UsageBased">
          Usage-Based
        </MudRadio>
        <MudRadio Value="@InstallerKeyType.TimeBased">
          Time-Based
        </MudRadio>
      </MudRadioGroup>

      @if (_installerKeyType == InstallerKeyType.UsageBased)
      {
        <div class="mt-2">
          <MudNumericField T="uint" @bind-Value="@_totalUsesAllowed" Min="1" Label="Total uses allowed" Required />
        </div>

        <div class="mt-2">
          <MudAlert Severity="Severity.Info">
            The key will expire after the chosen number of uses or after 24 hours, whichever comes first.
          </MudAlert>
        </div>
      }

      @if (_installerKeyType == InstallerKeyType.TimeBased)
      {
        <div class="mt-2">
          <MudDatePicker @bind-Date="@_inputExpirationDate" Label="Expiration Date" MinDate="@DateTime.Now.Date" Required />
        </div>
        <div class="mt-2">
          <MudTimePicker @bind-Time="@_inputExpirationTime" Label="Expiration Time" AmPm="true" Required />
        </div>
      }
      <div class="mt-4">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@GenerateKey">
          Generate Key
        </MudButton>
      </div>
    </MudItem>
  </MudGrid>
}
else
{
  <MudText Typo="Typo.subtitle1" GutterBottom>
    Run these scripts on a remote device to install the agent.
  </MudText>

  @if (_installerKeyType == InstallerKeyType.TimeBased)
  {
    <MudAlert Severity="Severity.Info">
      Installation scripts contain an access key that will expire at @(_keyExpiration).
    </MudAlert>
  }

  if (_installerKeyType == InstallerKeyType.UsageBased)
  {
    <MudAlert Severity="Severity.Info">
      Installation scripts contain an access key that will expire after @(_totalUsesAllowed) use(s) or 24 hours, whichever
      comes first.
    </MudAlert>
  }

  <div class="mt-10">
    <MudTabs Class="mb-8">
      <MudTabPanel Text="Windows x86" Icon="@Icons.Custom.Brands.MicrosoftWindows">
        <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4" GutterBottom>
          PowerShell
        </MudText>
        <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
          AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyWindowsX86Script"
          Adornment="Adornment.End" Value="@WindowsX86DeployScript" />
      </MudTabPanel>
      <MudTabPanel Text="Windows x64" Icon="@Icons.Custom.Brands.MicrosoftWindows">
        <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4" GutterBottom>
          PowerShell
        </MudText>
        <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
          AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyWindowsX64Script"
          Adornment="Adornment.End" Value="@WindowsX64DeployScript" />
      </MudTabPanel>
      <MudTabPanel Text="Ubuntu" Icon="@Icons.Custom.Brands.Linux">
        <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4" GutterBottom>
          Bash
        </MudText>
        <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
          AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyUbuntuScript"
          Adornment="Adornment.End" Value="@UbuntuDeployScript" />
      </MudTabPanel>
      <MudTabPanel Text="Mac Intel" Icon="@Icons.Custom.Brands.Apple">
        <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4" GutterBottom>
          zsh
        </MudText>
        <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
          AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyMacX64Script"
          Adornment="Adornment.End" Value="@MacX64DeployScript" />
      </MudTabPanel>
      <MudTabPanel Text="Mac Apple Silicon" Icon="@Icons.Custom.Brands.Apple">
        <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="mt-4" GutterBottom>
          zsh
        </MudText>
        <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
          AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyMacArm64Script"
          Adornment="Adornment.End" Value="@MacArm64DeployScript" />
      </MudTabPanel>
    </MudTabs>

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Options
    </MudText>

    <div class="mt-4">
      <MudText Typo="Typo.subtitle2" Color="Color.Info">
        Device Tags
      </MudText>
      <MudText Typo="Typo.body1" GutterBottom>
        If enabled, the device will be assigned the selected tags upon installation.
        Tags are used to link devices to users for access control.
      </MudText>
      <MudCheckBox @bind-Value="_addTags" Label="Add device tags" />

      @if (_addTags && !_tags.Any())
      {
        <MudAlert Severity="Severity.Warning" Class="mt-2">
          No tags are available. Tenant admins can create tags in the Permissions section.
        </MudAlert>
      }

      <MudSelect T="TagResponseDto" @bind-SelectedValues="_selectedTags" Disabled="!_addTags" Immediate MultiSelection
        FullWidth="false" Text="@(SelectedTagsText)" Label="Tags">
        @foreach (var tag in _tags)
        {
          <MudSelectItem Value="@tag">
            @(tag.Name)
          </MudSelectItem>
        }
      </MudSelect>
    </div>

    <div class="mt-4">
      <MudText Typo="Typo.subtitle2" Color="Color.Info">
        Device ID
      </MudText>
      <MudText Typo="Typo.body1" GutterBottom>
        By default, a random device ID will be generated during installation.
        Optionally, you can specify a predetermined ID here that will be assigned to the device.
        The device ID must be a valid GUID (e.g. <code>New-Guid</code> in pwsh).
      </MudText>
      <MudAlert Severity="Severity.Warning" Class="my-2">
        If you specify a device ID, it must be unique for each device/install.
      </MudAlert>
      <MudTextField @bind-Value="_deviceId" Class="mt-2" Label="Device ID (GUID)" Validation="@DeviceIdValidator" />
    </div>
  </div>
}