@attribute [Route(ClientRoutes.Deploy)]
@attribute [Authorize(Roles = RoleNames.AgentInstaller)]

<PageTitle>Deploy</PageTitle>

<MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
  Deploy Scripts
</MudText>

@if (_installerKey is null)
{
  <MudText Typo="Typo.subtitle1" GutterBottom>
    You must first generate an installer access key.
  </MudText>

  <MudGrid Class="mt-2">
    <MudItem xs="12" sm="6">

      <MudText Color="Color.Info">
        Key Type
      </MudText>
      <MudRadioGroup T="@InstallerKeyType" @bind-Value="@_installerKeyType">
        <MudRadio Value="@InstallerKeyType.UsageBased">
          Usage-Based
        </MudRadio>
        <MudRadio Value="@InstallerKeyType.TimeBased">
          Time-Based
        </MudRadio>
      </MudRadioGroup>

      @if (_installerKeyType == InstallerKeyType.UsageBased)
      {
        <div class="mt-2">
          <MudNumericField T="uint" @bind-Value="@_totalUsesAllowed" Min="1" Label="Total uses allowed" Required/>
        </div>
      }

      @if (_installerKeyType == InstallerKeyType.TimeBased)
      {
        <div class="mt-2">
          <MudDatePicker @bind-Date="@_inputExpirationDate" Label="Expiration Date" MinDate="@DateTime.Now.Date"
                         Required/>
        </div>
        <div class="mt-2">
          <MudTimePicker @bind-Time="@_inputExpirationTime" Label="Expiration Time" AmPm="true" Required/>
        </div>
      }
      <div class="mt-4">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@GenerateKey">
          Generate Key
        </MudButton>
      </div>
    </MudItem>
  </MudGrid>
}
else
{
  <MudText Typo="Typo.subtitle1" GutterBottom>
    Run these scripts on a remote device to install the agent.
  </MudText>

  @if (_installerKeyType == InstallerKeyType.TimeBased)
  {
    <MudAlert Severity="Severity.Info">
      Installation scripts will expire at @(_keyExpiration).
    </MudAlert>
  }

  if (_installerKeyType == InstallerKeyType.UsageBased)
  {
    <MudAlert Severity="Severity.Info">
      Installation scripts will expire after @(_totalUsesAllowed) use(s).
    </MudAlert>
  }

  <div class="mt-10">
    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Windows (PowerShell)
    </MudText>

    <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
                  AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyWindowsScript"
                  Adornment="Adornment.End"
                  Value="WindowsDeployScript" Class="mb-5"/>

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Ubuntu (Bash)
    </MudText>

    <MudTextField T="string" Label="Copy and paste to install agent" Variant="Variant.Filled"
                  AdornmentIcon="@(Icons.Material.Filled.ContentCopy)" OnAdornmentClick="CopyUbuntuScript"
                  Adornment="Adornment.End"
                  Value="UbuntuDeployScript" Class="mb-5"/>

    @*<MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
    Mac x64 (zsh)
    </MudText>

    <MudTextField T="string"
    Label="Copy and paste to install agent"
    Variant="Variant.Filled"
    AdornmentIcon="@(Icons.Material.Filled.ContentCopy)"
    OnAdornmentClick="CopyMacX64Script"
    Adornment="Adornment.End"
    Value="MacX64DeployScript"
    Class="mb-5" />

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
    Mac Arm64 (zsh)
    </MudText>

    <MudTextField T="string"
    Label="Copy and paste to install agent"
    Variant="Variant.Filled"
    AdornmentIcon="@(Icons.Material.Filled.ContentCopy)"
    OnAdornmentClick="CopyMacArm64Script"
    Adornment="Adornment.End"
    Value="MacArm64DeployScript"
    Class="mb-5" /> *@

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Options
    </MudText>

    <div>
      <MudText Typo="Typo.subtitle2" Color="Color.Info">
        Device Tags
      </MudText>
      <MudText Typo="Typo.body1" GutterBottom>
        If enabled, the device will be assigned the selected tags upon installation.
        Tags are used to link devices to users for access control.
      </MudText>
      <MudCheckBox @bind-Value="_addTags" Label="Add device tags"/>

      <MudSelect T="TagResponseDto"
                 @bind-SelectedValues="_selectedTags"
                 Disabled="!_addTags" 
                 Immediate 
                 MultiSelection
                 FullWidth="false" 
                 Text="@(SelectedTagsText)" 
                 Label="Tags">
        @foreach (var tag in _tags)
        {
          <MudSelectItem Value="@tag">
            @(tag.Name)
          </MudSelectItem>
        }
      </MudSelect>
    </div>
  </div>
}
