@attribute [Route(ClientRoutes.Deploy)]
@attribute [Authorize]

<PageTitle>Deploy</PageTitle>

<MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
  Deploy Scripts
</MudText>

@if (_installerKey is null)
{
  <MudText Typo="Typo.subtitle1" GutterBottom>
    You must first generate an expirable installer token.
  </MudText>

  <MudGrid>
    <MudItem xs="12" sm="6">

      <MudInputLabel>
        Token Type
      </MudInputLabel>
      <MudRadioGroup T="@InstallerKeyType" @bind-Value="@_installerKeyType">
        <MudRadio Value="@InstallerKeyType.SingleUse">
          Single Use
        </MudRadio>
        <MudRadio Value="@InstallerKeyType.AbsoluteExpiration">
          Absolute Expiration
        </MudRadio>
      </MudRadioGroup>

      @if (_installerKeyType == InstallerKeyType.AbsoluteExpiration)
      {
        <div class="mt-4">
          <MudDatePicker @bind-Date="@_inputExpirationDate" Label="Expiration Date" MinDate="@DateTime.Now" Required />
        </div>
        <div class="mt-2">
          <MudTimePicker @bind-Time="@_inputExpirationTime" Label="Expiration Time" Required />
        </div>
      }
      <div>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-4" OnClick="@GenerateToken">
          Generate Token
        </MudButton>
      </div>
    </MudItem>
  </MudGrid>
}
else
{
  <MudText Typo="Typo.subtitle1" GutterBottom>
    Run these scripts on a remote device to install the agent.
  </MudText>

  @if (_keyExpiration is {} keyExpiration)
  {
    <MudAlert Severity="Severity.Info">
      Installation scripts will expire at @(keyExpiration).
    </MudAlert>
  }


  <div class="mt-10">
    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Windows (PowerShell)
    </MudText>

    <MudTextField T="string"
                  Label="Copy and paste to install agent"
                  Variant="Variant.Filled"
                  AdornmentIcon="@(Icons.Material.Filled.ContentCopy)"
                  OnAdornmentClick="CopyWindowsScript"
                  Adornment="Adornment.End"
                  Value="WindowsDeployScript"
                  Class="mb-5" />

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Ubuntu (Bash)
    </MudText>

    <MudTextField T="string"
                  Label="Copy and paste to install agent"
                  Variant="Variant.Filled"
                  AdornmentIcon="@(Icons.Material.Filled.ContentCopy)"
                  OnAdornmentClick="CopyUbuntuScript"
                  Adornment="Adornment.End"
                  Value="UbuntuDeployScript"
                  Class="mb-5" />

    @*<MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
    Mac x64 (zsh)
    </MudText>

    <MudTextField T="string"
    Label="Copy and paste to install agent"
    Variant="Variant.Filled"
    AdornmentIcon="@(Icons.Material.Filled.ContentCopy)"
    OnAdornmentClick="CopyMacX64Script"
    Adornment="Adornment.End"
    Value="MacX64DeployScript"
    Class="mb-5" />

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
    Mac Arm64 (zsh)
    </MudText>

    <MudTextField T="string"
    Label="Copy and paste to install agent"
    Variant="Variant.Filled"
    AdornmentIcon="@(Icons.Material.Filled.ContentCopy)"
    OnAdornmentClick="CopyMacArm64Script"
    Adornment="Adornment.End"
    Value="MacArm64DeployScript"
    Class="mb-5" /> *@

    <MudText Typo="Typo.h6" Color="Color.Primary" GutterBottom>
      Options
    </MudText>

    <div>
      <MudText Typo="Typo.subtitle2" Color="Color.Info">
        Device Tags
      </MudText>
      <MudText Typo="Typo.body1" GutterBottom>
        If enabled, the device will be assigned the selected tags upon installation.
        Tags are used to link devices to users for access control.
      </MudText>
      <MudCheckBox @bind-Value="_addTags" Label="Add device tags" />

      <MudSelect T="TagResponseDto"
                 @bind-SelectedValues="_selectedTags"
                 Disabled="!_addTags"
                 Immediate
                 MultiSelection
                 FullWidth="false"
                 Text="@(SelectedTagsText)"
                 Label="Tags">
        @foreach (var tag in _tags)
        {
          <MudSelectItem Value="@tag">
            @(tag.Name)
          </MudSelectItem>
        }
      </MudSelect>
    </div>
  </div>
}
