@using System.ComponentModel.DataAnnotations
@attribute [Route(ClientRoutes.PasswordChangeRequired)]
@attribute [Authorize]
@inject IControlrApi ControlrApi
@inject ISnackbar Snackbar
@inject NavigationManager Navigation

<PageTitle>Change password</PageTitle>

<PrimaryTitle>
  Change password
</PrimaryTitle>

<MudText Typo="Typo.body2" Class="mb-2" Color="Color.Error">
  You must change your temporary password before continuing.
</MudText>

@if (!string.IsNullOrEmpty(_message))
{
  var severity = _message.StartsWith("Error") ? Severity.Error : Severity.Success;
  <MudAlert Severity="@severity" Variant="Variant.Outlined" Class="mb-4">
    @_message
  </MudAlert>
}

<EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmitAsync">
  <DataAnnotationsValidator />

  <div style="max-width: 500px;" class="flex-column gap-3 mt-3">
    <MudTextField For="@(() => _model.TemporaryPassword)"
                  @bind-Value="_model.TemporaryPassword"
                  InputType="InputType.Password"
                  Label="Temporary password"
                  Placeholder="temporary password"
                  HelperText="Please enter your temporary password."
                  Disabled="@_submitting"
                  Class="mt-2" />

    <MudTextField For="@(() => _model.NewPassword)"
                  @bind-Value="_model.NewPassword"
                  InputType="InputType.Password"
                  Label="New password"
                  Placeholder="new password"
                  HelperText="Please enter your new password."
                  Disabled="@_submitting"
                  Class="mt-2" />

    <MudTextField For="@(() => _model.ConfirmPassword)"
                  @bind-Value="_model.ConfirmPassword"
                  InputType="InputType.Password"
                  Label="Confirm new password"
                  Placeholder="confirm new password"
                  HelperText="Please confirm your new password."
                  Disabled="@_submitting"
                  Class="mt-2" />
                  
    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="OnValidSubmit" Disabled="@_submitting" Class="mt-4">
      Change password
    </MudButton>
  </div>
</EditForm>

@code {
  private EditContext? _editContext;
  private readonly InputModel _model = new();
  private bool _submitting;
  private string? _message;

  protected override void OnInitialized()
  {
    _editContext = new EditContext(_model);
  }

  private async Task OnValidSubmit()
  {
    if (_editContext?.Validate() == false)
    {
      return;
    }
    await OnValidSubmitAsync();
  }

  private async Task OnValidSubmitAsync()
  {
    _message = null;
    _submitting = true;
    StateHasChanged();

    var request = new ChangePasswordRequestDto(_model.TemporaryPassword, _model.NewPassword);
    var result = await ControlrApi.Auth.ChangePassword(request);

    if (result.IsSuccess)
    {
      _message = "Your password has been changed. Redirecting...";
      Snackbar.Add("Your password has been changed", Severity.Success);

      await Task.Delay(2000);
      Navigation.NavigateTo(ClientRoutes.Home);
    }
    else
    {
      _message = $"Error: {result.Reason}";
    }

    _submitting = false;
    StateHasChanged();
  }

  private sealed class InputModel
  {
    [Required]
    public string TemporaryPassword { get; set; } = "";

    [Required]
    [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
    public string NewPassword { get; set; } = "";

    [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
    public string ConfirmPassword { get; set; } = "";
  }
}
