@using ControlR.Shared.Collections;
@using System.Collections.ObjectModel;
@using System.Collections.Concurrent;

@inject IViewerHubConnection ViewerHub
@inject IMessenger Messenger
@inject IDeviceContentWindowStore WindowStore
@inject ISnackbar Snackbar
@inject IDeviceCache DeviceCache
@inject IDialogService DialogService
@inject IAppState AppState
@inject ISettings Settings
@inject IClipboard Clipboard
@inject ILogger<Dashboard> Logger
@inject IBrowser Browser

<MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
    Devices
</MudText>

<div>
    <MudCheckBox T="bool"
                 Checked="Settings.HideOfflineDevices"
                 CheckedChanged="HideOfflineDevicesChanged"
                 Label="Hide Offline Devices" />
</div>

<MudDataGrid T="DeviceDto"
             Items="FilteredDevices"
             SortMode="SortMode.Multiple"
             QuickFilter="QuickFilter"
             Loading="_loading"
             Hideable="true"
             SortDefinitions="_sortDefinitions"
             ShowColumnOptions="true"
             Filterable="true">

    <ToolBarContent>
        <MudSpacer />
        <MudTextField @bind-Value="_searchText" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

        <MudTooltip Text="Refresh">
            <MudIconButton Variant="Variant.Filled"
                           Color="Color.Info"
                           Class="ml-4"
                           Icon="@(Icons.Material.Filled.Refresh)"
                           OnClick="Refresh" />
        </MudTooltip>
    </ToolBarContent>

    <Columns>
        <TemplateColumn T="DeviceDto"
                        Sortable="false"
                        Filterable="false"
                        ShowColumnOptions="false"
                        Title="Actions">

            <CellTemplate>
                <MudTooltip Text="Actions">
                    <MudMenu Variant="Variant.Filled" Color="Color.Primary" Icon="@(Icons.Material.Filled.MoreVert)">
                        @if (context.Item.IsOnline)
                        {
                            <MudMenuItem Icon="@(Icons.Material.Filled.ScreenShare)"
                                         IconColor="Color.Info"
                                         OnClick="@(() => RemoteControlClicked(context.Item))"
                                         OnTouch="@(() => RemoteControlClicked(context.Item))">
                                Remote Control
                            </MudMenuItem>
                            <MudMenuItem Icon="@(Icons.Material.Filled.Terminal)"
                                         IconColor="Color.Info"
                                         OnClick="@(() => TerminalClicked(context.Item))"
                                         OnTouch="@(() => TerminalClicked(context.Item))">
                                Terminal
                            </MudMenuItem>
                            <MudMenuItem Icon="@(Icons.Material.Filled.PowerOff)"
                                         IconColor="Color.Error"
                                         OnClick="@(() => ShutdownClicked(context.Item))"
                                         OnTouch="@(() => ShutdownClicked(context.Item))">
                                Shutdown
                            </MudMenuItem>
                            <MudMenuItem Icon="@(Icons.Material.Filled.RestartAlt)"
                                         IconColor="Color.Error"
                                         OnClick="@(() => RestartClicked(context.Item))"
                                         OnTouch="@(() => RestartClicked(context.Item))">
                                Restart
                            </MudMenuItem>
                        }
                        else
                        {
                            <MudMenuItem Icon="@(Icons.Material.Filled.Delete)"
                                         IconColor="Color.Error"
                                         OnClick="@(() => RemoveDevice(context.Item))"
                                         OnTouch="@(() => RemoveDevice(context.Item))">
                                Remove
                            </MudMenuItem>
                        }
                    </MudMenu>
                </MudTooltip>
            </CellTemplate>
        </TemplateColumn>

        <TemplateColumn T="DeviceDto"
                        StickyLeft="true"
                        Title="Name">
            <CellTemplate>
                @if (string.IsNullOrWhiteSpace(context.Item.Alias))
                {
                    @(context.Item.Name)
                }
                else
                {
                    @($"{context.Item.Name} ({context.Item.Alias})")
                }
            </CellTemplate>
        </TemplateColumn>

        <TemplateColumn T="DeviceDto"
                        Field="@(nameof(DeviceDto.IsOnline))"
                        Title="Online">
            <CellTemplate>
                @if (context.Item.IsOnline)
                {
                    <MudTooltip Text="Online">
                        <MudIcon Icon="@(Icons.Material.Filled.Check)" Color="@(Color.Success)" />
                    </MudTooltip>
                }
                else
                {
                    <MudTooltip Text="Offline">
                        <MudIcon Icon="@(Icons.Material.Filled.Cancel)" Color="@(Color.Error)" />
                    </MudTooltip>
                }
            </CellTemplate>
        </TemplateColumn>

        <PropertyColumn Property="x => x!.CurrentUser" Title="Current User" />

        <TemplateColumn T="DeviceDto" Title="CPU">
            <CellTemplate>
                @($"{Math.Round(context.Item.CpuUtilization * 100, 2)}%")
            </CellTemplate>
        </TemplateColumn>

        <TemplateColumn T="DeviceDto" Title="Memory">
            <CellTemplate>
                @($"{Math.Round(context.Item.UsedMemoryPercent * 100, 2)}%")
            </CellTemplate>
        </TemplateColumn>

        <TemplateColumn T="DeviceDto" Title="Storage">
            <CellTemplate>
                @($"{Math.Round(context.Item.UsedStoragePercent * 100, 2)}%")
            </CellTemplate>
        </TemplateColumn>

        <HierarchyColumn T="DeviceDto" />
    </Columns>
    <ChildRowContent>
        <div class="child-content-grid">
            <div>
                Total Memory:
            </div>
            <div>
                @($"{context.Item.TotalMemory:N2}") GB
            </div>
            <div>
                Total Storage:
            </div>
            <div>
                @($"{context.Item.TotalStorage:N0}") GB
            </div>
            <div>
                Agent Version:
            </div>
            <div>
                @(context.Item.AgentVersion)
            </div>
            <div>
                Last Seen:
            </div>
            <div>
                @(context.Item.LastSeen)
            </div>
            <div>
                Platform:
            </div>
            <div>
                @(context.Item.Platform)
            </div>
            <div>
                OS Description:
            </div>
            <div>
                @(context.Item.OsDescription)
            </div>
            <div>
                OS Architecture:
            </div>
            <div>
                @(context.Item.OsArchitecture)
            </div>
        </div>
    </ChildRowContent>
</MudDataGrid>

@code {
    private readonly Dictionary<string, SortDefinition<DeviceDto>> _sortDefinitions = new()
        {
            ["IsOnline"] = new SortDefinition<DeviceDto>(nameof(DeviceDto.IsOnline), true, 0, x => x.IsOnline),
            ["Name"] = new SortDefinition<DeviceDto>(nameof(DeviceDto.Name), false, 1, x => x.Name)
        };
    private bool _loading = true;
    private string? _searchText;

    private Func<DeviceDto, bool> QuickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchText))
        {
            return true;
        }

        return JsonSerializer.Serialize(x).Contains(_searchText, StringComparison.OrdinalIgnoreCase);
    };

    private IEnumerable<DeviceDto> FilteredDevices
    {
        get
        {
            if (!Settings.HideOfflineDevices)
            {
                return DeviceCache.Devices;
            }

            return DeviceCache.Devices.Where(x => x.IsOnline);
        }
    }


    protected override async Task OnInitializedAsync()
    {
        using var _ = AppState.IncrementBusyCounter();
        Messenger.RegisterGenericMessage(this, HandleGenericMessage);

        await base.OnInitializedAsync();

        _loading = false;
    }


    private async Task HideOfflineDevicesChanged(bool isChecked)
    {
        Settings.HideOfflineDevices = isChecked;
        await InvokeAsync(StateHasChanged);
    }

    private async Task RemoteControlClicked(DeviceDto device)
    {
        try
        {
            var sessionId = Guid.NewGuid();
            var vncPassword = RandomGenerator.GenerateString(8);

            Logger.LogInformation("Creating VNC session");
            Snackbar.Add("Requesting VNC session", Severity.Info);

            var vncSessionResult = await ViewerHub.GetVncSession(device.ConnectionId, sessionId, vncPassword);

            if (!vncSessionResult.SessionCreated)
            {
                Snackbar.Add("Failed to acquire VNC session.", Severity.Error);
                return;
            }

            var targetUrl = $"{AppConstants.ServerUri}/novnc/vnc.html?path=novnc-proxy/{sessionId}&show_dot=true";

            if (vncSessionResult.AutoRunUsed == true)
            {
                targetUrl += $"&password={vncPassword}&autoconnect=true";
            }


            await Browser.OpenAsync(targetUrl);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while requesting VNC session.");
            Snackbar.Add("An error occurred while requesting a VNC session", Severity.Error);
        }

    }

    private void TerminalClicked(DeviceDto device)
    {
        try
        {
            var terminalId = Guid.NewGuid();

            void RenderTerminal(RenderTreeBuilder builder)
            {
                builder.OpenComponent<Terminal>(0);
                builder.AddComponentParameter(1, nameof(Terminal.Device), device);
                builder.AddComponentParameter(1, nameof(Terminal.Id), terminalId);
                builder.CloseComponent();
            }
            var contentInstance = new DeviceContentInstance(device, RenderTerminal, "Terminal");
            WindowStore.AddOrUpdate(contentInstance);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error while starting terminal session.");
            Snackbar.Add("An error occurred while starting the terminal", Severity.Error);
        }
    }

    private async Task RemoveDevice(DeviceDto device)
    {
        await DeviceCache.Remove(device);
        Snackbar.Add("Device removed.", Severity.Success);
    }
    private async Task RestartClicked(DeviceDto device)
    {
        var result = await DialogService.ShowMessageBox(
            "Confirm Restart",
            $"Are you sure you want to restart {device.Name}?",
            "Yes",
            "No");

        if (result != true)
        {
            return;
        }

        await ViewerHub.SendPowerStateChange(device, PowerStateChangeType.Restart);
    }

    private async Task ShutdownClicked(DeviceDto device)
    {
        var result = await DialogService.ShowMessageBox(
           "Confirm Shutdown",
           $"Are you sure you want to shut down {device.Name}?",
           "Yes",
           "No");

        if (result != true)
        {
            return;
        }

        await ViewerHub.SendPowerStateChange(device, PowerStateChangeType.Shutdown);
    }


    private async Task HandleGenericMessage(GenericMessageKind kind)
    {
        switch (kind)
        {
            case GenericMessageKind.DevicesCacheUpdated:
                {
                    Debouncer.Debounce(TimeSpan.FromSeconds(1), () => InvokeAsync(StateHasChanged));
                }
                break;
            case GenericMessageKind.HubConnectionStateChanged:
                {
                    if (ViewerHub.ConnectionState == Microsoft.AspNetCore.SignalR.Client.HubConnectionState.Connected)
                    {
                        await Refresh();
                    }
                }
                break;
            default:
                break;
        }
    }

    private async Task Refresh()
    {
        using var _ = AppState.IncrementBusyCounter();
        await DeviceCache.SetAllOffline();
        await InvokeAsync(StateHasChanged);
        await ViewerHub.RequestDeviceUpdates();
        Snackbar.Add("Device refresh requested", Severity.Success);
    }
}
