@inherits JsInteropableComponent

<div class="h-100 @(OuterClass)">
  <input @ref="_virtualKeyboard" class="virtual-keyboard" type="text" autocomplete="off" autocapitalize="off"
    @onblur="HandleVirtualKeyboardBlurred" @bind-value="VirtualKeyboardText" @bind-value:event="oninput"
    @onkeydown="OnVkKeyDown" />

  <div class="display-grid">
    <div class="action-bar pa-2">

      <PopoverButton Icon="@(Icons.Material.Filled.ScreenshotMonitor)" Label="View" TooltipText="View">
        <ViewPopover />
      </PopoverButton>

      <PopoverButton Icon="@(Icons.Material.Filled.Keyboard)" Label="Input" TooltipText="Input">
        <InputPopover />
      </PopoverButton>
      
      <PopoverButton Icon="@(Icons.Material.Filled.MoreVert)" Label="Extras" TooltipText="Extras">
        <ExtrasPopover />
      </PopoverButton>

      @if (_controlMode == ControlMode.Touch)
      {
        <MudDivider Vertical FlexItem />

        <MudTooltip Text="Virtual Keyboard" Placement="Placement.Right" Class="z9002">
          <MudToggleIconButton Variant="Variant.Outlined" Icon="@(Icons.Material.Filled.Keyboard)" Size="Size.Small"
            ToggledColor="Color.Success" ToggledIcon="@(Icons.Material.Filled.Keyboard)"
            Toggled="RemoteControlState.IsVirtualKeyboardToggled" ToggledChanged="HandleKeyboardToggled" />
        </MudTooltip>

        <MudTooltip Text="Scroll Mode" Placement="Placement.Right" Class="z9002">
          <MudToggleIconButton Variant="Variant.Outlined" Icon="@(Icons.Material.Filled.UnfoldMoreDouble)"
            Size="Size.Small" ToggledColor="Color.Success" ToggledIcon="@(Icons.Material.Filled.UnfoldMoreDouble)"
            Toggled="RemoteControlState.IsScrollModeToggled" ToggledChanged="HandleScrollModeToggled" />
        </MudTooltip>
      }

      <MudFlexBreak />

      <MudTooltip Text="Toggle Fullscreen" Placement="Placement.Left" Class="z9002">
        <MudIconButton Icon="@(Icons.Material.Filled.Fullscreen)" Variant="Variant.Outlined" Size="Size.Small"
          OnClick="HandleFullscreenClicked" />
      </MudTooltip>

      <MudTooltip Text="Close Connection" Placement="Placement.Right" Class="z9002">
        <MudIconButton Icon="@(Icons.Material.Filled.Close)" Variant="Variant.Outlined" Size="Size.Small"
          Color="Color.Error" OnClick="HandleDisconnectClicked" />
      </MudTooltip>

    </div>
    <div class="screen-area" @ref="_screenArea" @onwheel="OnCanvasWheel" @onwheel:preventDefault
      @onwheel:stopPropagation @ontouchstart="OnTouchStart" @ontouchmove="OnTouchMove" @ontouchcancel="OnTouchCancel"
      @ontouchend="OnTouchEnd">

      <canvas id="@_canvasId" @ref="_canvasRef" width="@CanvasWidth" height="@CanvasHeight"
        class='@($"remote-screen {CanvasClasses}")' style="@(CanvasStyle)" 
        @onpointermove="HandleCanvasPointerMove" @onpointerdown="HandleCanvasPointerDown"></canvas>
    </div>
  </div>

  @if (RemoteControlState.IsMetricsEnabled)
  {
    <MetricsFrame />
  }

</div>