@using ControlR.Libraries.Shared.Enums
@using ControlR.Web.Client.StateManagement
@using ControlR.Web.Client.Components.Layout
@inherits BaseLayout
@inject ILazyInjector<IHubConnector> HubConnector
@inject ILogger<MainLayout> Logger

<div class="@ThemeClass">
  <ControlRLayoutProvider CurrentPalette="@CurrentPalette" @bind-IsDarkMode="@IsDarkMode" CustomTheme="@CustomTheme">

    <MudLayout>
      <MudAppBar Elevation="1">

        @if (RendererInfo.IsInteractive)
        {
          <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@(_ => ToggleNavDrawer())" />
        }
        else
        {
          <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"
            Edge="Edge.Start" />
        }

        <MudImage Src=@Assets["appicon-192.png"] Height="30" Class="mx-2" />
        <MudLink Href="/" Underline="Underline.None">
          <MudText Typo="Typo.h6" Color="Color.Primary">ControlR</MudText>
        </MudLink>

        <MudSpacer />

        <LayoutHeaderButtons OnThemeChanged="HandleThemeChanged" />
      </MudAppBar>
      <MudDrawer @bind-Open="DrawerOpen" id="nav-drawer" ClipMode="DrawerClipMode.Always" Elevation="2">

        <NavMenu />
      </MudDrawer>
      <MudMainContent Class="mt-16 pa-4">
        @if (RendererInfo.IsInteractive)
        {
          <ServerAlertDisplay Class="mb-4" />
        }

        @if (!RendererInfo.IsInteractive && !_isIdentityPage)
        {
          <div class="w-100 text-center mt-8">
            <MudText Typo="Typo.h4" Color="Color.Info" GutterBottom>
              Loading <span id="blazor-load-progress"></span>
            </MudText>
            <MudProgressCircular Min="0" Max="1" Indeterminate Color="Color.Info" Size="Size.Large" />
          </div>
        }
        else
        {
          @Body
        }
      </MudMainContent>
    </MudLayout>
    
    @if (RendererInfo.IsInteractive)
    {
      <DeviceContentHarness />
    }
  </ControlRLayoutProvider>
</div>

<div id="blazor-error-ui">
  An unhandled error has occurred.
  <a href="" class="reload">Reload</a>
  <a class="dismiss">🗙</a>
</div>

@code {
  private bool _isIdentityPage;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    _isIdentityPage =
      Uri.TryCreate(NavManager.Uri, UriKind.Absolute, out var currentUri) &&
      currentUri.PathAndQuery.StartsWith("/Account");

    if (RendererInfo.IsInteractive)
    {
      AuthState.AuthenticationStateChanged += HandleAuthenticationStateChanged;

      if (IsAuthenticated)
      {
        await HubConnector.Value.Connect<IViewerHub>(AppConstants.ViewerHubPath);
      }
    }
  }

  private async void HandleAuthenticationStateChanged(Task<AuthenticationState> taskState)
  {
    try
    {
      if (!RendererInfo.IsInteractive)
      {
        return;
      }

      var state = await taskState;
      IsAuthenticated = state.User.Identity?.IsAuthenticated ?? false;
      await InvokeAsync(StateHasChanged);

      if (IsAuthenticated)
      {
        await HubConnector.Value.Connect<IViewerHub>(AppConstants.ViewerHubPath);
      }
    }
    catch (Exception ex)
    {
      Logger.LogError(ex, "Error while handling authentication state change.");
      Snackbar.Value.Add("Authentication state change error", Severity.Error);
    }
  }

  public override async ValueTask DisposeAsync()
  {
    AuthState.AuthenticationStateChanged -= HandleAuthenticationStateChanged;
    await base.DisposeAsync();
  }

}