<MudDialog>
    <DialogContent>
        <MudText Typo="Typo.subtitle1" Color="Color.Info" GutterBottom>
            Sessions on @(DeviceName):
        </MudText>

        @foreach (var session in Sessions)
        {
            <MudCard @key=(session) Class="mb-3" Outlined>
                <MudCardContent>
                    <div class="d-grid" style="grid-template-columns: auto 1fr; column-gap: 20px; min-width: 250px; align-items: center;">
                        <div>
                            <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                                Session ID:
                            </MudText>
                        </div>
                        <div>
                            @(session.Id)
                        </div>
                        <div>
                            <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                                Session Name:
                            </MudText>
                        </div>
                        <div>
                            @(session.Name)
                        </div>
                        <div>
                            <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                                User:
                            </MudText>
                        </div>
                        <div>
                              @(session.Username)
                        </div>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(_ => Submit(session.Id))">
                        Connect
                    </MudButton>
                </MudCardActions>
            </MudCard>

        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {

    [CascadingParameter]
    public required MudDialogInstance MudDialog { get; set; }

    [Parameter]
    [EditorRequired]
    public string DeviceName { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public WindowsSession[] Sessions { get; set; } = Array.Empty<WindowsSession>();

    private void Cancel() => MudDialog.Cancel();
    private void Submit(uint sessionId) => MudDialog.Close(DialogResult.Ok(sessionId));
}