@using ControlR.Libraries.Shared.Enums
@using ControlR.Web.Client.Components.Layout
@inherits BaseLayout
@attribute [Authorize]


<div class="h-100 @(ThemeClass)">
  <link rel="stylesheet" href="/device-access.css" />
  <ControlRLayoutProvider CurrentPalette="@CurrentPalette" @bind-IsDarkMode="@IsDarkMode" CustomTheme="@CustomTheme">
    <MudLayout>
      <MudAppBar Elevation="1">

        @if (RendererInfo.IsInteractive)
        {
          <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@(() => ToggleNavDrawer())" />
        }
        else
        {
          <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit"
            Edge="Edge.Start" />
        }

        @if (!string.IsNullOrWhiteSpace(_deviceName))
        {
          <MudText Typo="Typo.subtitle2" Color="Color.Info" Class="ms-4" Inline>
            Device:
          </MudText>
          <MudText Typo="Typo.subtitle2" Class="ms-1" Inline>
            @_deviceName
          </MudText>
        }

        <MudSpacer />

        <LayoutHeaderButtons OnThemeChanged="HandleThemeChanged" />
      </MudAppBar>
      <MudDrawer @bind-Open="DrawerOpen" id="nav-drawer" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudDrawerHeader Class="pa-4">
          <MudImage Src=@Assets["appicon-192.png"] Height="30" Class="me-2" />
          <MudText Typo="Typo.h6" Color="Color.Primary">
            ControlR
          </MudText>
        </MudDrawerHeader>
        <DeviceAccessNavMenu IsDisabled="@(IsNavMenuDisabled)" />
      </MudDrawer>
      <MudMainContent Class="h-100">
        @if (RendererInfo.IsInteractive)
        {
          <ServerAlertDisplay Class="mb-4" />
        }

        @if (!RendererInfo.IsInteractive)
        {
          <div class="w-100 text-center mt-8">
            <MudText Typo="Typo.h4" Color="Color.Info" GutterBottom>
              Loading <span id="blazor-load-progress"></span>
            </MudText>
            <MudProgressCircular Min="0" Max="1" Indeterminate Color="Color.Info" Size="Size.Large" />
          </div>
        }
        else if (_hubConnectionState != HubConnectionState.Connected)
        {
          <LoadingIndicator IsVisible Message="Connecting" Class="mt-8" />
        }
        else if (!string.IsNullOrWhiteSpace(_errorText))
        {
          <MudAlert Severity="Severity.Error" ShowCloseIcon="false" Icon="@(Icons.Material.Filled.Error)">
            @(_errorText)
          </MudAlert>
        }
        else
        {
          if (!string.IsNullOrWhiteSpace(_deviceName))
          {
            <PageTitle>
              ControlR - @(_deviceName)
            </PageTitle>
          }
          @Body
        }
      </MudMainContent>
    </MudLayout>
  </ControlRLayoutProvider>
</div>