@using ControlR.Libraries.Shared.Dtos.HubDtos.PwshCommandCompletions
@if (_loading)
{
    <div class="text-center mt-4">
        <MudText Typo="Typo.h4" Color="Color.Primary" GutterBottom>
         Loading
     </MudText>
     <MudProgressCircular Indeterminate="true"
                          Size="Size.Large"
                          Color="Color.Info" />
 </div>
}
else
{
    <div class="terminal-grid">
        <div @ref="_terminalOutputContainer" class="terminal-output-container">

            @foreach (var line in Output)
            {
                <div @key=(line) class="@(GetOutputColor(line))">
                    @(line.Output)
                </div>
            }
        </div>
        <div>
            @if (_currentCompletions is not null)
            {
                <MudAutocomplete @ref="@(_completionsAutoComplete)"
                                T="PwshCompletionMatch"
                                OnKeyDown="@(OnCompletionInputKeyDown)"
                                Clearable="true"
                                ValueChanged="@(OnCompletionSelected)"
                                SearchFunc="@SearchCompletions"
                                ToStringFunc="@(x => x.ListItemText)"
                                AutoFocus
                                MaxItems="null"
                                AnchorOrigin="@(Origin.TopCenter)"
                                TransformOrigin="(Origin.BottomCenter)">
                    <ItemTemplate>
                        @context.ListItemText
                    </ItemTemplate>
                    <ItemSelectedTemplate>
                        @context.ListItemText
                    </ItemSelectedTemplate>
                </MudAutocomplete>
            }
            <MudTextField T="string"
                          @ref="@(_commandInputElement)"
                          InputId="@(_commandInputElementId)"
                          @bind-Value="@_commandInputText"
                          @bind-Text="@_commandInputText"
                          Label="Enter a command"
                          HelperText="Type a command and press Enter to send"
                          TextUpdateSuppression="false"
                          Lines="@CommandInputLineCount"
                          HelperTextOnFocus="true"
                          AutoFocus="true"
                          Immediate="true"
                          UserAttributes="_commandInputAttributes"
                          OnKeyDown="@OnInputKeyDown"
                          Class="mt-2" />
        </div>
        <div>
            <MudSwitch @bind-Value="_enableMultiline"
                       Color="Color.Success"
                       Label="Multiline Input" />
        </div>
    </div>
}