@using ControlR.Libraries.Api.Contracts.Enums
@inject IUserPreferencesProvider UserPreferences
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthState
@inject ILazyInjector<IMessenger> Messenger

@implements IDisposable

<MudTooltip Text="@GetTooltipText()">
  <MudMenu Icon="@GetCurrentIcon()" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft">
    <MudMenuItem OnClick="@(() => SetTheme(ThemeMode.Light))">
      <div class="d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.LightMode" Class="me-2" />
        <MudText>Light</MudText>
        @if (_currentMode == ThemeMode.Light)
        {
          <MudIcon Icon="@Icons.Material.Filled.Check" Class="ms-2" Size="Size.Small" Color="Color.Primary" />
        }
      </div>
    </MudMenuItem>
    <MudMenuItem OnClick="@(() => SetTheme(ThemeMode.Dark))">
      <div class="d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.DarkMode" Class="me-2" />
        <MudText>Dark</MudText>
        @if (_currentMode == ThemeMode.Dark)
        {
          <MudIcon Icon="@Icons.Material.Filled.Check" Class="ms-2" Size="Size.Small" Color="Color.Primary" />
        }
      </div>
    </MudMenuItem>
  </MudMenu>
</MudTooltip>

@code {
  [Parameter]
  public EventCallback<ThemeMode> OnThemeChanged { get; set; }

  private ThemeMode _currentMode = ThemeMode.Dark;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    if (Messenger.Exists)
    {
      Messenger.Value.Register<ThemeChangedMessage>(this, HandleThemeChangedMessage);
    }

    if (await AuthState.IsAuthenticated())
    {
      _currentMode = (await UserPreferences.GetPreferences()).ThemeMode;
    }
  }

  public void Dispose()
  {
    if (Messenger.Exists)
    {
      Messenger.Value.UnregisterAll(this);
    }
    GC.SuppressFinalize(this);
  }

  private async Task HandleThemeChangedMessage(object subscriber, ThemeChangedMessage message)
  {
    _currentMode = message.ThemeMode;
    await InvokeAsync(StateHasChanged);
  }

  private string GetCurrentIcon()
  {
    return _currentMode switch
    {
      ThemeMode.Light => Icons.Material.Filled.LightMode,
      _ => Icons.Material.Filled.DarkMode
    };
  }

  private string GetTooltipText()
  {
    return _currentMode switch
    {
      ThemeMode.Light => "Theme: Light",
      _ => "Theme: Dark"
    };
  }

  private async Task SetTheme(ThemeMode mode)
  {
    _currentMode = mode;
    if (await AuthState.IsAuthenticated())
    {
      await UserPreferences.SetPreference(UserPreferenceNames.ThemeMode, mode);
    }
    await OnThemeChanged.InvokeAsync(mode);
    await Messenger.Value.Send(new ThemeChangedMessage(mode));

    var modeText = mode switch
    {
      ThemeMode.Light => "Light",
      _ => "Dark"
    };

    Snackbar.Add($"Theme set to {modeText}", Severity.Success);
  }
}