@layout DeviceAccessLayout
@page "/device-access/file-system"
@attribute [Authorize]
@using ControlR.Web.Client.Components.Layout.DeviceAccess

<div class="file-system-container h-100">
    <div class="file-system-grid">
        <div class="tree-panel">
            <MudText Typo="Typo.h6" Class="mb-3">Folders</MudText>
            @if (TreeItems.Count == 0 && IsLoading)
            {
                <div class="d-flex justify-center align-center" style="height: 200px;">
                    <MudProgressCircular Indeterminate="true" />
                </div>
            }
            else if (TreeItems.Count == 0)
            {
                <MudAlert Severity="Severity.Info">No drives found or unable to load file system.</MudAlert>
            }
            else
            {
                <MudTreeView @bind-SelectedValue="SelectedPath" T="string" Dense="true">
                    @foreach (var item in TreeItems)
                    {
                        <MudTreeViewItem Value="item.FullPath" Text="@item.Name" Icon="@Icons.Material.Filled.Folder" 
                                       Expanded="item.IsExpanded" ExpandedChanged="@(async (expanded) => { item.IsExpanded = expanded; await OnNodeExpanded(item, expanded); })">
                            @if (item.Children.Any())
                            {
                                @foreach (var child in item.Children)
                                {
                                    <MudTreeViewItem Value="child.FullPath" Text="@child.Name" Icon="@Icons.Material.Filled.Folder" 
                                                   Expanded="child.IsExpanded" ExpandedChanged="@(async (expanded) => { child.IsExpanded = expanded; await OnNodeExpanded(child, expanded); })" />
                                }
                            }
                        </MudTreeViewItem>
                    }
                </MudTreeView>
            }
        </div>
        
        <div class="content-panel">
            <MudText Typo="Typo.h6" Class="mb-3">Contents</MudText>
            @if (IsLoadingContents)
            {
                <div class="d-flex justify-center align-center" style="height: 200px;">
                    <MudProgressCircular Indeterminate="true" />
                </div>
            }
            else if (!string.IsNullOrEmpty(SelectedPath))
            {
                <MudDataGrid T="FileSystemEntryViewModel" Items="DirectoryContents" Dense="true" Hover="true"
                           SortMode="SortMode.Multiple" Filterable="false" Hideable="false" RowsPerPage="50">
                    <Columns>
                        <PropertyColumn Property="x => x.Icon" Title="" Sortable="false" Filterable="false">
                            <CellTemplate>
                                <MudIcon Icon="@context.Item.Icon" Size="Size.Small" />
                            </CellTemplate>
                        </PropertyColumn>
                        <PropertyColumn Property="x => x.Name" Title="Name" />
                        <PropertyColumn Property="x => x.FormattedSize" Title="Size" Sortable="false" />
                        <PropertyColumn Property="x => x.LastModified" Title="Modified" />
                    </Columns>
                </MudDataGrid>
            }
            else
            {
                <MudAlert Severity="Severity.Info">Select a folder to view its contents.</MudAlert>
            }
        </div>
    </div>
</div>