@layout DeviceAccessLayout
@inherits ViewportAwareComponent
@attribute [Route(ClientRoutes.DeviceAccessRemoteControl)]
@attribute [Authorize]
@using ControlR.Web.Client.Components.Layout.DeviceAccess

<div class="@(OuterDivClass)">

  @switch (CurrentState)
  {
    case SignalingState.ConnectionActive:
      break;
    case SignalingState.Loading:
    {
      <LoadingIndicator IsVisible Message="@(_loadingMessage)"/>
      break;
    }
    case SignalingState.Reconnecting:
    {
      <LoadingIndicator IsVisible Message="Reconnecting"/>
      break;
    }
    case SignalingState.Alert:
    {
      <MudAlert Severity="_alertSeverity" Icon="@(AlertIcon)">
        @(_alertMessage)
      </MudAlert>

      <MudTooltip Text="Reload">
        <MudButton StartIcon="@Icons.Material.Filled.Refresh" Class="mt-2" OnClick="HandleReloadClicked">
          Reload
        </MudButton>
      </MudTooltip>

      break;
    }
    case SignalingState.SessionSelect:
    {
      <MudText Typo="Typo.subtitle1" Color="Color.Info" GutterBottom>
        Desktop Sessions on @(DeviceAccessState.CurrentDevice.Name):
      </MudText>

      <MudTooltip Text="Refresh Desktop Sessions">
        <MudButton StartIcon="@Icons.Material.Filled.Refresh" Class="mb-2" OnClick="HandleRefreshSessionsClicked">
          Refresh Sessions
        </MudButton>
      </MudTooltip>

      @if (_systemSessions is null || _systemSessions.Length == 0)
      {
        <MudAlert Severity="Severity.Warning" Icon="@(Icons.Material.Filled.Info)">
          No desktop sessions available.
        </MudAlert>
      }
      else
      {
        <MudGrid>
          @foreach (var session in _systemSessions)
          {
            <MudItem xs="12" sm="6" md="4" lg="3">
              <MudCard @key=session Class="mb-3" Outlined>
                <MudCardContent Class="overflow-hidden">
                  <div class="session-card-grid">
                    <div>
                      <MudText Typo="Typo.subtitle1" Color="Color.Secondary">
                        Session ID:
                      </MudText>
                    </div>
                    <div>
                      @(session.SystemSessionId)
                    </div>
                    <div>
                      <MudText Typo="Typo.subtitle1" Color="Color.Secondary">
                        Process ID:
                      </MudText>
                    </div>
                    <div>
                      @(session.ProcessId)
                    </div>
                    <div>
                      <MudText Typo="Typo.subtitle1" Color="Color.Secondary">
                        Session Name:
                      </MudText>
                    </div>
                    <div>
                      @(session.Name)
                    </div>
                    <div>
                      <MudText Typo="Typo.subtitle1" Color="Color.Secondary">
                        User:
                      </MudText>
                    </div>
                    <div>
                      @(session.Username)
                    </div>
                  </div>
                </MudCardContent>
                @if (!session.AreRemoteControlPermissionsGranted)
                {
                  <MudCardContent Class="pt-0">
                    <MudText Typo="Typo.caption" Color="Color.Warning" Class="d-flex align-center">
                      <MudIcon Icon="@Icons.Material.Filled.Warning" Size="Size.Small" Class="me-1" />
                      Permissions not granted. User will be prompted.
                    </MudText>
                  </MudCardContent>
                }
                <MudCardActions>
                  <MudButton Variant="Variant.Outlined" Color="Color.Primary"
                             OnClick="@(_ => StartRemoteControl(session, quiet: false))">
                    Connect
                  </MudButton>
                  <MudButton Variant="Variant.Outlined" Color="Color.Default" OnClick="@(_ => PreviewSession(session))"
                             Class="ms-4">
                    Preview
                  </MudButton>
                </MudCardActions>
              </MudCard>
            </MudItem>
          }
        </MudGrid>
      }
      break;
    }
    case SignalingState.UnsupportedOperatingSystem:
    {
      <MudAlert Severity="Severity.Error" Icon="@(Icons.Material.Filled.Error)">
        Unsupported operating system.
      </MudAlert>
      break;
    }
    case SignalingState.Unknown:
    default:
    {
      <MudAlert Severity="Severity.Error" Icon="@(Icons.Material.Filled.Error)">
        Unexpected signaling state.
      </MudAlert>
      break;
    }
  }
  <RemoteDisplay OnDisconnectRequested="HandleDisconnectRequested" IsVisible="IsRemoteDisplayVisible"/>
</div>